.about-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.about-list__text {
  @include lb-16med-wide;

  margin: 0;
  color: var(--color-dark-grey);
}

@include tablet {
  .about-list__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@include desktop {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .about-list__item {
    width: 648px;
  }
}
