.breadcrumbs {
  display: table;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  padding: 5px 8px;
}

.breadcrumbs__item {
  @include lb-16med;

  color: var(--dark-grey);
}

.breadcrumbs__link {
  position: relative;
  padding-right: 20px;
  text-decoration: none;
  color: var(--dark-grey);
}

.breadcrumbs__link::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  display: block;
  border-right: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.breadcrumbs__current {
  margin: 0;
  padding: 0;
}

@include desktop {
  .breadcrumbs__list {
    display: table;
  }

  .breadcrumbs__item {
    display: inline-block;
  }
}
