.btn--to-basket {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 18px 0;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.btn__logo {
  margin-right: 8px;
}

.btn__logo path {
  fill: var(--color-white);
}

.btn__text--full-width {
  @include lb-18semi;
}

.btn--pickup-point {
  @include lb-16semi;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-blue);
  border-radius: 5px;
  padding: 7px 24px;
  color: var(--color-blue);
}
