.card-info__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px;
}

.card-info__title {
  @include lb-h2;

  margin: 0 0 16px;
  color: var(--color-black);
}

.card-info__to-fav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: 100%;
}

.card-info__to-fav-icon {
  margin-right: 8px;
}

.card-info__to-fav-text {
  @include lb-18med;

  color: var(--color-mid-grey);
}

.card-info__wrapper {
  width: 100%;
}

.card-info__buttons-container {
  margin-bottom: 24px;
}

.card-info__description {
  margin-bottom: 24px;
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.card-info__options {
  margin-bottom: 80px;
}

.card-info__pickup-point {
  margin-bottom: 80px;
}

@include tablet {
  .card-info__container {
    margin: 0 40px;
  }

  .card-info__title {
    margin-bottom: 24px;
    width: 450px;
  }

  .card-info__wrapper {
    display: flex;
    margin-bottom: 24px;
    width: 100%;
  }

  .card-info__buttons-container {
    order: -1;
    margin-right: 40px;
    margin-bottom: 0;
    width: 332px;
  }
}

@include desktop {
  .card-info__container {
    margin: 0;
  }

  .card-info__buttons-container {
    width: 240px;
  }
}
