.card-info__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.card-info__title {
  @include lb-h2;

  text-align: center;
  margin: 0 0 16px;
  color: var(--black);
}

.card-info__header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card-info__to-fav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-info__to-fav-icon {
  margin-right: 8px;
}

.card-info__to-fav-text {
  @include lb-18med;

  color: var(--mid-grey);
}

.card-info__remaining {
  @include lb-18med;

  width: 100%;
  padding: 0;
  margin: 0 0 16px 0;
  color: var(--black);
}

.card-info__remaining:last-child {
  margin-bottom: 0;
}

.card-info__remaining span {
  color: var(--mid-grey);
}

.card-info__wrapper {
  width: 100%;
}

.card-info__buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card-info__description {
  margin-bottom: 24px;
  width: 100%;
}

.card-info__options {
  margin-bottom: 48px;
}

.card-info__pickup-point {
  margin-bottom: 80px;
}

.card-info__quantity-block {
  width: 100%;
  margin-bottom: 24px;
  order: -1;
}

.main-button-container {
  width: 100%;
}

.card-info__description {
  @include lb-16med;

  color: var(--dark-grey);
}

@include tablet {
  .card-info__title {
    margin-bottom: 24px;
    width: 450px;
  }

  .card-info__wrapper {
    margin-bottom: 48px;
    width: 100%;
  }

  .card-info__price {
    margin-bottom: 24px;
  }

  .card-info__buttons-container {
    margin-bottom: 0;
  }

  .main-button-container {
    width: auto;
  }

  .card-info__remaining {
    width: auto;
    margin: 0;
  }

  .card-info__quantity-block {
    width: auto;
    margin-bottom: 0;
  }

  .card-info__title {
    text-align: left;
  }
}

@include desktop-1024 {
  .card-info {
    width: 400px;
  }

  .card-info__options {
    margin-bottom: 80px;
  }
}
