.card-description {
  padding: 24px 0;
}

.card-description__title {
  @include lb-18bold;

  margin: 0 0 16px;
  color: var(--color-black);
}

.card-description--full .card-description__title {
  @include lb-h2;
}

.card-description__text {
  @include lb-16med-wide;

  color: var(--color-mid-grey);
}

.card-description__anchor {
  @include lb-14strike;

  color: var(--color-blue);
}
