.catalog-menu-new {
  width: 100%;
  display: none;
}

.catalog-menu-new--active {
  display: block;
}

.catalog-menu-new__container {
  padding: 0 16px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.catalog-menu-new-main-list__item {
  position: relative;
}

.catalog-menu-new__arrow-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.catalog-menu-new-main-list__item--active {
  background-color: var(--super-light-grey);
}

.catalog-menu-new-main-list__item--active .catalog-menu-new-main-list__button {
  padding: 12px 48px;
  background-position: 16px center;
  background-color: var(--super-light-grey);
}

.catalog-menu-new__left-area {
  padding: 12px 0;
  width: 100%;
}

.catalog-menu-new__right-area {
  width: 100%;
  padding: 12px 0;
}

.catalog-menu-new-main-list__button {
  @include lb-16semi;

  display: block;
  border: none;
  padding: 12px 33px;
  color: var(--black);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: var(--white);
  cursor: pointer;
  text-align: left;
}

.catalog-menu-new-main-list__button:focus {
  outline: none;
}

.catalog-menu-new-submenu__item-extra {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.catalog-menu-new-submenu__back {
  @include lb-16med;

  color: var(--mid-grey);
}

.catalog-menu-new__arrow-icon-back {
  margin-right: 8px;
}

.catalog-menu-new-submenu__title {
  padding: 0;
  margin: 0;

  @include lb-16med;

  display: block;
  color: var(--black);
  font-weight: bold;
}

.catalog-menu-new-submenu {
  display: flex;
  flex-wrap: wrap;
}

.catalog-menu-new-submenu__item {
  display: none;
  margin-bottom: 24px;
}

.catalog-menu-new-submenu__item--active {
  display: block;
  width: 100%;
  padding-left: 16px;
}

.catalog-menu-new-submenu__link {
  @include lb-16med;

  display: block;
  color: var(--dark-grey);
}

@include tablet {
  .catalog-menu-new {
    border-bottom: 1px solid var(--alto);
  }

  .catalog-menu-new__container {
    border-top: 1px solid var(--alto);
  }

  .catalog-menu-new__left-area {
    border-right: 1px solid var(--alto);
    width: 50%;
  }

  .catalog-menu-new__right-area {
    width: 50%;
    padding: 24px;
  }

  .catalog-menu-new__arrow-icon {
    display: none;
  }

  .catalog-menu-new-submenu__item--active {
    width: 50%;
    padding: 0;
  }

  .catalog-menu-new-submenu__link {
    color: var(--black);
  }

  .catalog-menu-new-submenu__item-extra {
    display: none;
  }
}

@include desktop-1024 {
  .catalog-menu-new__container {
    padding: 0 40px;
  }

  .catalog-menu-new-submenu__item--active {
    width: 33.33%;
  }
}

@include desktop {
  .catalog-menu-new__container {
    padding: 0;
    width: 1320px;
  }
}
