.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__title {
  @include lb-h2;

  margin: 0 16px 16px;
  width: 100%;
  color: var(--black);
}

.catalog__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 16px 24px;
}

.catalog__control-btn {
  @include lb-16med;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid var(--super-light-grey);
  border-radius: 5px;
  padding: 11px 0;
  width: 46%;
  text-decoration: none;
  color: var(--dark-grey);
}

.catalog__svg-icon {
  margin-right: 8px;
}

.catalog__catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 24px;
  border-top: 1px solid #f6f6f6;
  border-left: 1px solid #f6f6f6;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  width: 50%;
}

.catalog__item-container {
  display: flex;
}

.catalog__item-content {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.catalog__content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
}

.catalog__new-price,
.catalog__old-price {
  margin: 0;
  padding: 0;
}

.catalog__new-price {
  @include lb-16semi;

  margin-right: 8px;
  line-height: 21px;
  color: var(--black);
}

.catalog__old-price {
  @include lb-12strike;

  text-decoration: line-through;
  color: var(--mid-grey);
}

.catalog__name {
  @include lb-16med;

  display: block;
  overflow: hidden;
  margin: 0 0 16px;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  color: var(--black);
  -webkit-line-clamp: 4;
}

.catalog__item-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}

.catalog__item-button-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.catalog__buy-btn {
  @include lb-16semi;

  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  border: 2px solid var(--blue);
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  text-decoration: none;
  color: var(--blue);
}

.catalog__buy-btn-icon {
  margin: 0 8px 0 0;
  padding: 0;
}

.catalog__buy-btn:hover,
.catalog__buy-btn:focus {
  background-color: var(--blue);
  color: var(--white);
}

.catalog__buy-btn:active {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__buy-btn:hover .catalog__buy-btn-icon path,
.catalog__buy-btn:focus .catalog__buy-btn-icon path {
  fill: var(--white);
}

.catalog__show-more {
  @include lb-16semi;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  border-radius: 5px;
  padding: 15px 0;
  text-decoration: none;
  color: var(--dark-grey);
  background-color: var(--super-light-grey);
}

@include tablet {
  .catalog__title {
    margin: 0 40px 16px;
  }

  .catalog__buttons-wrapper {
    margin: 0 40px 24px;
  }

  .catalog__item-button-container {
    display: flex;
  }

  .catalog__img-wrapper {
    display: flex;
    width: 100%;
    height: 266px;
  }

  .catalog__img-wrapper img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .catalog__name {
    @include lb-18med;
  }

  .catalog__new-price {
    @include lb-18bold;
  }

  .catalog__old-price {
    @include lb-14strike;
  }

  .catalog__buy-btn {
    border-width: 1px;
    padding: 10px 24px;
    width: auto;
  }

  .catalog__show-more {
    margin: 0 40px;
  }
}

@include desktop-1024 {
  .catalog {
    position: relative;
    justify-content: space-between;
  }

  .catalog__left-wrapper {
    width: 296px;
  }

  .catalog__right-wrapper {
    width: 616px;
  }

  .catalog__item {
    width: 296px;
  }

  .catalog__item {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .catalog__catalog-list {
    gap: 24px;
    border: none;
  }

  .catalog__buy-btn {
    padding: 10px 12px;
  }

  .catalog__buttons-wrapper {
    display: none;
  }

  .catalog__sort-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 616px;
  }

  .catalog__show-more {
    margin: 0;
  }
}

@include desktop {
  .catalog__left-wrapper {
    width: 310px;
  }

  .catalog__right-wrapper {
    width: 984px;
  }

  .catalog__title {
    margin: 0 0 32px 335px;
  }

  .catalog__sort-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 984px;
  }

  .catalog__catalog-list {
    width: 984px;
  }

  .catalog__item {
    width: 312px;
  }

  .catalog__img-wrapper {
    height: 240px;
  }

  .catalog__show-more {
    margin: 0 0 0 auto;
    width: 984px;
  }
}
