.catalog-detail {
  width: 100%;
  margin-bottom: 80px;
  padding: 0;
}

.catalog-detail__pickup-point {
  margin: 0 0 80px;
}

.catalog-detail__full-description {
  margin: 0 0 80px;
  padding: 0;
}

@include desktop-1024 {
  .catalog-detail {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-detail__full-description {
    margin: 0;
  }

  .catalog-detail__pickup-point {
    margin-left: auto;
  }
}

@include desktop {
  .catalog-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-detail__card-info {
    margin: 0;
    width: 536px;
  }

  .catalog-detail__pickup-point {
    margin: 0;
    width: 536px;
  }

  .catalog-detail__full-description {
    padding: 0;
    width: 760px;
  }
}
