.catalog-menu {
  padding: 32px 16px 0;
}

.catalog-menu--opened {
  display: block;
}

.catalog-menu--closed {
  display: none;
}

.catalog__btn-back {
  @include lb-16med;

  display: flex;
  align-items: center;
  margin: 0 0 18px;
  border: none;
  padding: 0;
  color: var(--color-mid-grey);
  background-color: var(--color-white);
  cursor: pointer;
}

.catalog__btn-back::before {
  content: "";
  display: inline-block;
  margin: 0 3px 0 0;
  border: solid #b5b5b5;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(135deg);
}

.catalog-menu__list {
  margin-bottom: 112px;
}

.catalog-menu__list--active {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-super-light-grey);
  padding-bottom: 24px;
}

.catalog-menu__list--active .catalog-menu__item:not(.catalog-menu__item--opened) {
  display: none;
}

.catalog-menu__item--opened .catalog-menu__dropdown-list {
  display: block;
}

.catalog-menu__item--opened .catalog-menu__link--drop::after {
  display: none;
}

.catalog-menu__link {
  @include lb-16med;

  display: block;
  padding-top: 12px;
  padding-right: 27%;
  padding-bottom: 12px;
  text-decoration: none;
  color: var(--color-black);
}

.catalog-menu__link--drop {
  position: relative;
}

.catalog-menu__link--drop::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 7px;
  height: 12px;
  background-image: url("../../img/arrow-right.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.catalog-menu__link--opened {
  @include lb-16semi;

  color: var(--color-black);
}

.catalog-menu__dropdown-list {
  display: none;
}

@include tablet {
  .catalog-menu {
    z-index: 111;
    padding: 19px 24px 24px;
  }

  .catalog-menu--opened {
    position: absolute;
    left: calc((100% - 688px) / 2);
    top: 76px;
    z-index: 99;
    width: 345px;
    background-color: var(--color-white);
  }

  .catalog-menu__item {
    margin-bottom: 10px;
  }

  .catalog-menu__item:last-child {
    margin-bottom: 0;
  }

  .catalog-menu--rel {
    width: 688px;
  }

  .catalog-menu__item--opened .catalog-menu__dropdown-list {
    position: absolute;
    right: -345px;
    top: 0;
    padding: 19px 24px 24px;
    width: 345px;
    background-color: var(--color-white);
  }

  .catalog-menu__item--opened .catalog-menu__link--drop::after {
    display: block;
  }

  .catalog__btn-back {
    display: none;
  }

  .catalog-menu__list {
    margin-bottom: 0;
  }

  .catalog-menu__list--active {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }

  .catalog-menu__list--active .catalog-menu__item:not(.catalog-menu__item--opened) {
    display: block;
  }

  .catalog-menu__link {
    border-radius: 5px;
    padding: 8px 42px 8px 16px;
  }

  .catalog-menu__link:hover {
    background-color: var(--color-grey);
  }

  .catalog-menu__link--opened {
    background-color: var(--color-grey);
  }

  .catalog-menu__link--drop::after {
    right: 16px;
  }
}

@include desktop {
  .catalog-menu--opened {
    left: 255px;
    border-radius: 10px;
    width: 460px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .catalog-menu__item--opened .catalog-menu__dropdown-list {
    right: -460px;
    width: 460px;
  }
}
