.categories__title {
  @include lb-h2;

  margin: 0 0 24px;
  color: var(--color-black);
}

.categories__item {
  margin-bottom: 24px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 16px;
}

.categories__item:last-child {
  margin-bottom: 0;
}

.categories__img-wrapper {
  width: 100px;
  margin-bottom: 24px;
}

.categories__category-name {
  @include lb-h3;

  margin: 0 0 24px;
  color: var(--color-black);
}

.categories__category-list {
  margin-bottom: 24px;
}

.categories__list-item {
  margin-bottom: 16px;
}

.categories__list-item:last-child {
  margin-bottom: 0;
}

.categories__list-item a {
  @include lb-16med;

  display: block;
  text-decoration: none;
  color: var(--color-mid-grey);
}

@include tablet {
  .categories__title {
    @include lb-h1;
  }

  .categories__item {
    padding: 24px;
    display: flex;
  }

  .categories__img-wrapper {
    width: 35%;
    margin-bottom: 0;
  }

  .categories__img-wrapper img {
    width: 150px;
  }

  .categories__content {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
  }

  .categories__category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .categories__list-item {
    width: 45%;
  }
}

@include desktop {
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__title {
    width: 100%;
  }

  .categories__item {
    display: flex;
    flex-wrap: wrap;
    width: 647px;
  }

  .categories__item:last-child,
  .categories__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
