.features__title {
  @include lb-h2;

  margin: 0 0 25px;
  padding: 0;
  color: var(--black);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  flex-basis: 100%;
  margin: 0 0 25px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 100px 25px 25px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 38px;
  background-repeat: no-repeat;
}

.features__item--offerts::before {
  width: 42px;
  height: 42px;
  background-image: url("../../img/offerts-logo.svg");
}

.features__item--technical-task::before {
  width: 34px;
  height: 42px;
  background-image: url("../../img/technical-task-logo.svg");
}

.features__item--equipment::before {
  width: 42px;
  height: 42px;
  background-image: url("../../img/equipment-logo.svg");
}

.features__description {
  @include lb-h3;

  margin: 0 0 40px;
  padding: 0;
  color: var(--black);
}

.features__submit {
  @include lb-16semi;

  display: inline-block;
  margin: 0 0 15px;
  border: 1px solid var(--orange);
  border-radius: 10px;
  padding: 10px 24px;
  text-decoration: none;
  color: var(--orange);
}

@include tablet {
  .features__title {
    font-size: 36px;
    line-height: 45px;
  }

  .features__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 23px 23px 23px 80px;
  }

  .features__item::before {
    top: 24px;
  }

  .features__description {
    margin: 0;
  }

  .features__item--offerts .features__description {
    width: 261px;
  }

  .features__item--technical-task .features__description {
    width: 312px;
  }

  .features__item--equipment .features__description {
    width: 224px;
  }

  .features__submit {
    margin: 0;
    border-radius: 5px;
  }
}

@include desktop {
  .features__list {
    justify-content: space-between;
  }

  .features__item {
    flex-basis: auto;
    margin: 0;
    padding: 104px 40px 40px 24px;
    width: 424px;
  }

  .features__item::before {
    top: 40px;
  }

  .features__item--equipment .features__description {
    width: 298px;
  }

  .features__description {
    margin-bottom: 40px;
  }
}
