.footer-nav {
  position: relative;
  border-bottom: 1px solid #dfdfdf;
}

.footer-nav::after {
  position: absolute;
  left: 20px;
  bottom: 0;
}

.footer-nav__column {
  margin-bottom: 24px;
}

.footer-nav__column:last-child {
  margin-bottom: 24px;
}

.footer-nav__column--logo {
  margin-bottom: 28px;
}

.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav__item {
  margin-bottom: 16px;
  width: 50%;
}

.footer-nav__item--contacts {
  width: 100%;
}

.footer-nav__item--title {
  margin-bottom: 24px;
  width: 100%;
}

.footer-nav__link {
  display: block;
  text-decoration: none;
}

.footer-nav__text {
  @include lb-16med;

  color: var(--color-black);
}

.footer-nav__bold-text {
  @include lb-18semi;

  margin: 0;
  padding: 0;
  color: var(--color-black);
}

.footer-nav__text--address,
.footer-nav__text--phone {
  margin: 0;
  padding: 0;
}

.footer-nav__text--address {
  width: 216px;
}

.footer-bottom__item {
  @include lb-16med;

  color: var(--color-black);
}

.footer-bottom__item--terms {
  margin-bottom: 24px;
}

.footer-bottom__item--terms,
.footer-bottom__item--copyright {
  width: 100%;
  text-decoration: none;
}

.footer-bottom__item--ymarket-logo {
  display: none;
}

@include tablet {
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-nav__column {
    width: 50%;
  }

  .footer-nav__column--logo {
    margin-bottom: 40px;
    width: 100%;
  }

  .footer-nav__item {
    width: 100%;
  }

  .footer-bottom__item {
    width: 50%;
  }
}

@include desktop {
  .footer-nav__column {
    margin-bottom: 0;
    width: 20%;
  }

  .footer-nav__column:last-child {
    margin-bottom: 0;
  }

  .footer-nav__column--logo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footer-nav__payment {
    align-self: flex-end;
  }

  .footer-nav__item:last-child {
    margin-bottom: 0;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }

  .footer-bottom__item {
    width: auto;
    color: rgba(11, 11, 11, 0.8);
  }

  .footer-bottom__item--ymarket-logo {
    position: relative;
    display: block;
    width: 114px;
    height: 40px;
    font-size: 0;
  }

  .footer-bottom__item--ymarket-logo::before {
    content: "";
    position: absolute;
    width: 114px;
    height: 40px;
    background-image: url("../../img/ymarket-logo.svg");
  }
}
