.form__container {
  padding: 40px 24px;
}

.form__title-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form__title {
  @include lb-h2;

  margin: 0;
  padding: 0;
}

.form__block {
  margin-bottom: 24px;
}

.form__input-box:not(:last-child) {
  margin-bottom: 24px;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.form__btn {
  @include lb-16semi;

  border-radius: 5px;
  padding: 10px 24px;
  cursor: pointer;
}

.form__btn--blue {
  border: 1px solid var(--blue);
  color: var(--white);
  background-color: var(--blue);
}

.form__btn-grey {
  border: 0 solid var(--white);
  background-color: var(--grey);
}
