.methods__mobile-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.methods__mobile-tab {
  width: 46%;
}

.methods__mobile-btn {
  @include lb-16med;

  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 11px 0;
  width: 100%;
  color: var(--dark-grey);
  background-color: var(--white);
}

.methods__mobile-btn--active {
  border-color: var(--blue);
  color: var(--white);
  background-color: var(--blue);
}

.methods__item {
  display: none;
}

.methods__item--active {
  display: block;
}

.methods__title {
  display: none;
}

.methods__links {
  @include lb-14strike;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  color: var(--blue);
}

.methods__requisites-text {
  margin: 0 4px 0 0;
}

.methods__requisites {
  color: inherit;
}

.methods__requisites--doc {
  position: relative;
  margin-right: 10px;
}

.methods__requisites--doc::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  width: 1.5px;
  height: 13px;
  background-color: var(--blue);
  transform: translateY(-50%);
}

.methods__subtitle {
  @include lb-16semi;

  margin: 0 0 16px;
  color: var(--black);
}

.methods__text {
  @include lb-16med;

  display: flex;
  flex-wrap: wrap;
  margin: 0 0 24px;
  color: var(--dark-grey);
}

.methods__text--last {
  margin-bottom: 0;
}

.methods__text span:not(:last-child) {
  margin-bottom: 8px;
}

.methods__line {
  margin-bottom: 24px;
  height: 1px;
  background-color: var(--grey);
}

.methods__list {
  @include lb-16med;

  margin-bottom: 24px;
  color: var(--dark-grey);
}

.methods__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.methods__btn {
  @include lb-16semi;

  display: inline-flex;
  border-radius: 5px;
  padding: 10px 24px;
  color: var(--white);
  background-color: var(--blue);
}

@include tablet {
  .methods__mobile-tabs {
    display: none;
  }

  .methods__item {
    display: block;
    border: 1px solid var(--alto);
    border-radius: 10px;
    padding: 24px;
  }

  .methods__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .methods__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .methods__links {
    align-items: center;
    margin: 0;
  }

  .methods__title {
    @include lb-h3;

    display: block;
    margin: 0;
    color: var(--black);
  }
}

@include desktop {
  .methods {
    display: flex;
    justify-content: space-between;
  }

  .methods__item {
    width: 647px;
  }

  .methods__item:not(:last-child) {
    margin-bottom: 0;
  }
}
