.mobile-menu {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu--opened {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.mobile-menu__btn-wrapper {
  width: 100%;
}

.mobile-menu--closed .mobile-menu__nav,
.mobile-menu--closed .mobile-menu__btn-wrapper,
.mobile-menu--closed .mobile-menu__links-wrapper {
  display: none;
}

.mobile-menu__toggle {
  position: relative;
  display: block;
  border: none;
  width: 60px;
  height: 72px;
  background-color: var(--color-white);
  cursor: pointer;
}

.mobile-menu--closed .mobile-menu__toggle::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 28px;
  border: 1px solid #000;
  border-radius: 2px;
  width: 26px;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.mobile-menu--opened .mobile-menu__toggle::before,
.mobile-menu--opened .mobile-menu__toggle::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 36px;
  border: 1px solid #000;
  border-radius: 2px;
  width: 26px;
  height: 2px;
  background-color: #000;
}

.mobile-menu--opened .mobile-menu__toggle::before {
  transform: rotate(45deg);
}

.mobile-menu--opened .mobile-menu__toggle::after {
  transform: rotate(-45deg);
}

@include tablet {
  .mobile-menu {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    width: 100%;
  }

  .mobile-menu--opened {
    box-shadow: none;
  }

  .mobile-menu__toggle {
    position: relative;
    order: 1;
    padding: 0;
  }

  .mobile-menu--opened .mobile-menu__toggle::before,
  .mobile-menu--opened .mobile-menu__toggle::after {
    left: auto;
    right: 0;
  }

  .mobile-menu__btn-wrapper {
    margin-right: auto;
    width: auto;
  }

  .mobile-menu--closed .mobile-menu__btn-wrapper {
    display: block;
  }

  .mobile-menu--closed .mobile-menu__toggle::before {
    left: auto;
    right: 0;
  }

  .mobile-menu--closed .mobile-menu__links-wrapper {
    display: flex;
  }
}

@include tablet {
  .mobile-menu__toggle {
    display: none;
  }
}

@include desktop {
  .mobile-menu {
    position: relative;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1320px;
  }



  .mobile-menu__btn-wrapper {
    margin-right: 24px;
  }
}
