.pickup-point {
  @include lb-16med;

  color: var(--color-black);
  background-color: var(--color-white);
}

.pickup-point__item {
  position: relative;
  border-radius: 5px;
  padding: 24px 16px;
  width: 100%;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.05);
}

.pickup-point__header {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-grey);
  padding-bottom: 24px;
}

.pickup-point__type {
  @include lb-18bold;

  margin: 0 0 24px;
}

.pickup-point__metro {
  display: flex;
  align-items: center;
  margin: 0 0 16px;
}

.pickup-point__metro-icon {
  margin-right: 8px;
}

.pickup-point__metro-name {
  @include lb-16semi;
}

.pickup-point__address {
  margin: 0;
}

.pickup-point__footer {
  margin-bottom: 24px;
}

.pickup-point__pickup-time {
  margin: 0 0 16px;
}

.pickup-point__time-text {
  margin-right: 5px;
}

.pickup-point__time-day {
  color: var(--color-blue);
}

.pickup-point__timetable {
  margin: 0;
}

.pickup-point__work-time {
  color: var(--color-dark-grey);
}

@include tablet {
  .pickup-point__item {
    padding: 24px;
  }

  .pickup-point__choose {
    position: absolute;
    right: 24px;
    top: 24px;
  }

  .pickup-point__footer {
    display: flex;
    justify-content: space-between;
  }

  .pickup-point__pickup-time {
    margin-bottom: 0;
  }
}

@include desktop {
  .pickup-point {
    display: flex;
    flex-wrap: wrap;
    order: 999;
  }

  .pickup-point__item {
    align-self: flex-start;
  }
}
