.quantity-block {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  width: 100%;
}

.quantity-block--detail .product-item-amount-field-btn-plus,
.quantity-block--detail .product-item-amount-field-btn-minus {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  background-color: #f2f2f2;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  transition: background 300ms ease, opacity 300ms ease;
}

.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-minus:hover {
   background: #d3d3d3;
}

.quantity-block--detail .product-item-amount-field {
  display: block;
  padding: 0;
  width: 100%;
  height: 58px;
  border: none;
  background: transparent !important;
  color: #000;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  transition: border 300ms ease;
}

.product-item-amount-field::-webkit-outer-spin-button,
.product-item-amount-field::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.product-item-amount-field-block input[type=number] {
  -moz-appearance:textfield;
}

.product-item-amount-description-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: #a5a5a5;
  white-space: nowrap;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item-amount-field-btn-plus:after,
.product-item-amount-field-btn-minus:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: .8;
  transition: opacity 300ms ease, background 300ms ease;
}

.quantity-block--detail .product-item-amount-field-btn-plus:after,
.quantity-block--detail .product-item-amount-field-btn-plus:after,
.quantity-block--detail .product-item-amount-field-btn-minus:after {
  background-image: none;
  background-size: auto;
}

.quantity-block--detail .product-item-amount-field-btn-minus:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 2px;
  background-color: #9B9B9B;
}

.quantity-block--detail .product-item-amount-field-btn-plus:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 2px;
  background-color: #9B9B9B;
}

.quantity-block--detail .product-item-amount-field-btn-plus:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 24px;
  width: 2px;
  background-color: #9B9B9B;
}

/*Amount*/
.product-item-amount {
  width: 100%;
  padding: 0;
  text-align: center;
}

.product-item-amount-field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--super-light-grey);
  margin: 0;
}


.product-item-amount-field-btn-plus,
.product-item-amount-field-btn-minus {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #f2f2f2;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  transition: background 300ms ease, opacity 300ms ease;
}

.product-item-quantity-container {
  order: -1;
  width: 100%;
  margin-bottom: 16px;
}

.bx-retina .product-item-amount-field-btn-plus,
.bx-retina .product-item-amount-field-btn-minus { border-width: .5px; }

.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-minus:hover { background: #d3d3d3; }

.product-item-amount-field-btn-plus:after {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxwYXRoIGZpbGw9IiM1MjVDNjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE4LDEyIEwxOCwwIEwxMiwwIEwxMiwxMiBMMCwxMiBMMCwxOCBMMTIsMTggTDEyLDMwIEwxOCwzMCBMMTgsMTggTDMwLDE4IEwzMCwxMiBMMTgsMTIgWiIvPjwvc3ZnPg==) no-repeat center;
  background-size: 10px;
}

.product-item-amount-field-btn-minus:after {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxyZWN0IHdpZHRoPSIzMCIgaGVpZ2h0PSI2IiB5PSIxMiIgZmlsbD0iIzUyNUM2OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+) no-repeat center;
  background-size: 10px;
}

.product-item-amount-field-btn-plus:after,
.product-item-amount-field-btn-minus:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: .8;
  transition: opacity 300ms ease, background 300ms ease;
}

.product-item-amount-field-btn-disabled.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-disabled.product-item-amount-field-btn-minus:hover {
  background-color: #f2f2f2;
}

.product-item-amount-field-btn-plus:hover:after,
.product-item-amount-field-btn-minus:hover:after { opacity: 1; }

.product-item-amount-field-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.product-item-amount-field {
  display: block;
  padding: 0;
  width: 100%;
  height: 22px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: transparent !important;
  color: #000;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 22px;
  transition: border 300ms ease;
}

.bx-retina .product-item-amount-field { border-width: .5px; }

.product-item-amount-field:focus { outline: none !important; }

.bx-no-touch input.product-item-amount-field::-webkit-outer-spin-button,
.bx-no-touch input.product-item-amount-field::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none
}

@include tablet {
  .product-item-quantity-container {
    width: 120px;
    margin-bottom: 0;
    order: unset;
  }
}

@include desktop-1024 {
  .quantity-block--detail .product-item-amount-field-block {
    width: 60px;
  }
}
