.range-filter {
  @include lb-16med;

  display: flex;
  box-sizing: border-box;
}

.range-filter__price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.range-filter__min-price-wrapper,
.range-filter__max-price-wrapper {
  position: relative;
  width: 42%;
}

.range-filter__price-controls::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 1px;
  background-color: var(--black);
  transform: translate(-50%, -50%);
}

.range-filter__label {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  color: var(--mid-grey);
  transform: translateY(-50%);
}

.range-filter__range {
  @include lb-16med;

  display: block;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 11px 25px;
  width: 100%;
  text-align: center;
  color: var(--dark-grey);
  background-color: var(--super-light-grey);
}
