.show-all {
  @include lb-18semi;

  position: relative;
  padding-right: 20px;
  text-decoration: none;
  color: var(--blue);
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.show-all::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
  height: 11px;
  background-image: url("../../img/next.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.show-all--small {
  @include lb-16semi;
}

@include desktop {
  .show-all {
    display: flex;
  }
}
