.slider-block {
  position: relative;
  overflow: hidden;
}

.slider-block .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-block__img {
  width: 100%;
}

.slider-block .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--grey);
  opacity: 1;
}

.slider-block .swiper-pagination-bullet-active {
  background-color: var(--blue);
}

.slider-block.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

@include tablet {
  .slider-block {
    width: calc(100% - 100px - 24px);
  }

  .slider-block__img {
    height: 575px;
  }

  .slider-block .swiper-pagination {
    display: none;
  }
}

@include desktop {
  .slider-block {
    width: 636px;
  }
}
