@include tablet {
  .top-nav {
    background-color: var(--super-light-grey);
  }

  .top-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
  }

  .top-nav__list {
    display: flex;
  }

  .top-nav__list-item {
    margin-right: 24px;
  }

  .top-nav__list-item--excel {
    position: relative;
    padding-left: 38px;
  }

  .top-nav__list-item--excel::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("../../img/excel.svg");
    background-size: contain;
  }

  .top-nav__list-item--excel .top-nav__link {
    color: #4CAF50;
  }

  .top-nav__list-item:last-child {
    margin-right: 0;
  }

  .top-nav__list-item--desktop {
    display: none;
  }

  .top-nav__link {
    @include lb-16med;

    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: var(--mid-grey);
  }

  .top-nav__link--medium-black {
    color: var(--black);
  }

  .top-nav__link--semibold {
    @include lb-16semi;

    color: var(--black);
  }
}

@include desktop {
  .top-nav__list-item--desktop {
    display: block;
  }

  .top-nav__wrapper {
    margin: 0 auto;
    width: 1320px;
  }
}
