.catalog__title {
  width: 280px;
  padding: 10px 0 30px 0;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: start;
}

.catalog__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .catalog {
    @include tablet-wrapper-width();
    margin: 0 auto;
  }

  .catalog__title {
    width: auto;
    margin-top: 48px;
    font-size: 60px;
    text-align: start;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    @include desktop-wrapper-width();
  }

  .catalog__title {
    padding-bottom: 22px;
    margin-top: 65px;
  }

  .catalog__list {
    margin-bottom: 65px;
  }
}
