.categories__title {
  @include lb-h2();

  margin: 0 0 24px 0;
  color: $lbblack;
}

.categories__item {
  position: relative;
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
}

.categories__item:last-child {
  margin-bottom: 0;
}

.categories__item::before {
  position: absolute;
  top: 16px;
  left: 16px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.categories__item--kinder-garden {
  padding-top: 120px;
}

.categories__item--kinder-garden::before {
  width: 100px;
  height: 80px;
  background-image: url('../../img/kinder-garden.png');
}

.categories__item--aids-equipment {
  padding-top: 114px;
}

.categories__item--aids-equipment::before {
  width: 99px;
  height: 74px;
  background-image: url('../../img/aids.png');
}

.categories__item--school {
  padding-top: 177px;
}

.categories__item--school::before {
  width: 99px;
  height: 137px;
  background-image: url('../../img/school.png');
}

.categories__item--related-products {
  padding-top: 139px;
}

.categories__item--related-products::before {
  width: 99px;
  height: 99px;
  background-image: url('../../img/related.png');
}

.categories__category-name {
  @include lb-h3();

  margin: 0 0 24px 0;
  color: $lbblack;
}

.categories__category-list {
  @include list-reset();

  margin-bottom: 24px;
}

.categories__list-item {
  margin-bottom: 16px;
}

.categories__list-item:last-child {
  margin-bottom: 0;
}

.categories__list-item a {
  @include lb-16med();

  display: block;

  color: $lbmgrey;
  text-decoration: none;
}

@media screen and (min-width: $tablet-width) {
  .categories__title {
    @include lb-h1();
  }

  .categories__item {
    padding: 24px 36px 24px 179px;
  }

  .categories__item::before {
    top: 24px;
    left: 28px;
  }

  .categories__category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .categories__list-item {
    width: 45%;
  }
}

@media screen and (min-width: $desktop-width) {
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__title {
    width: 100%;
  }

  .categories__item {
    display: flex;
    flex-wrap: wrap;
    width: 647px;
  }

  .categories__item:last-child,
  .categories__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
