.categories {
  @include mobile-wrapper-width();
  margin: 0 auto;
}

.categories__list {
  @include list-reset();
  @include mobile-wrapper-width();
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .categories {
    @include tablet-wrapper-width();
    margin-bottom: 50px;
  }

  .categories__list {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    @include desktop-wrapper-width();
    margin-bottom: 75px;
  }

  .categories__list {
    justify-content: space-between;
  }
}
