.copyright__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: -8px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
}

.copyright__link:hover svg path {
  fill: #68b738;
}

.copyright__link:active svg path {
  fill: #68b738;
  opacity: 0.3;
}

.copyright__link svg {
  margin-right: -8px;
}
