.example {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
  background-color: #f2f2f2;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title-wrapper {
  width: 280px;
  padding: 18px 0 21px 0;
  margin: 0 auto;
}

.example__title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__container {
  padding-bottom: 35px;
}

.example__text {
  width: 95%;
  padding: 0;
  margin: 0 0 25px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__features-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.example__cost {
  padding: 0;
  margin: 35px auto 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  width: 310px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }

  .example__wrapper {
    @include tablet-wrapper-width();
    justify-content: flex-start;
  }

  .example__title-wrapper {
    @include tablet-wrapper-width();
    padding: 45px 0 63px 0;
  }

  .example__title {
    margin: 0;
    font-size: 60px;
  }

  .example__container {
    padding: 0;
  }

  .example__text {
    width: 99%;
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__features-wrapper {
    align-items: center;
  }

  .example__cost {
    max-width: 180px;
    margin: 0 0 0 auto;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  .example__slider {
    margin-top: 255px;
    padding-top: 360px;
    width: 100%;
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: #f2f2f2;
    border: none;
  }

  .example__title-wrapper {
    width: 100%;
    padding-bottom: 76px;
    padding-top: 0;
    margin: 0;
    background-color: #ffffff;
  }

  .example__title {
    @include desktop-wrapper-width();
    margin: 0 auto;
  }

  .example__container {
    @include desktop-wrapper-width();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .example__wrapper {
    width: 440px;
    padding: 72px 0 40px 0;
    margin: 0;
  }

  .example__text {
    margin-bottom: 66px;
  }

  .example__features-wrapper {
    justify-content: space-between;
    width: 366px;
  }

  .example__cost {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 0;
    width: 328px;
    max-width: none;
  }

  .example__slider {
    margin: 0;
    width: 780px;
  }
}
