.favorite-icon {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 72px;
}

.favorite-icon__favorite-container {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.favorite-icon__favorite-container svg {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.favorite-icon__favorite-counter {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 16px;
  height: 16px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  background-color: #EA6227;
  border-radius: 50%;
}
