.login-icon {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 72px;
}

.login-icon__login-container {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.login-icon__login-container svg {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
