.main-nav--opened {
  display: block;
}

.main-nav--closed {
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0 auto 50px 0;
  list-style: none;
}

.main-nav__list-item {
  border-bottom: 1px solid #F4F4F4;
}

.main-nav__list-item:first-child a {
  padding-top: 24px;
}

.main-nav__list a {
  display: block;
  padding: 16px 16px;
  font-size: 20px;
  line-height: 125%;
  font-weight: 600;
  color: #0B0B0B;
  text-decoration: none;
}
