.page-header {
  background-color: #fff;
}

.page-header__wrapper {
  position: relative;
}

.page-header__top-wrapper {
  display: none;
}

.page-header__logo-container {
  display: block;
  width: 178px;
  padding: 21px 0;
  margin: 0 auto;
}

.page-header__search-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: $lbbgrey;
}

.page-header__search-form {
  margin: 0 16px;
}

.page-header__btn-wrapper {
  margin: 0 16px;
}

.page-header__catalog-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #FFFFFF;
  background-color: #EA6227;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-header__catalog-btn::before {
  /*position: absolute;
  top: 0;
  left: 0;*/
  display: inline-block;
  padding: 0;
  margin: 0 7px 0 0;
  content: "";
  width: 15px;
  height: 14px;
  background-image: url('../../img/btn-burger-closed.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.page-header__links-wrapper {
  margin: 10px 16px 0 16px;
}

@media screen and (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-header__top-wrapper {
    display: block;
    width: 100%;
  }

  .page-header__middle-wrapper {
    position: relative;
    width: 100%;
  }

  .page-header__search-wrapper {
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
  }

  .page-header__search-form {
    margin: 0;
  }

  .page-header__middle-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__btn-wrapper {
    margin: 0;
  }

  .page-header__catalog-btn {
    padding: 10px 24px;
    width: auto;
  }

  .page-header__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 0 35px 0 0;
  }

  .page-header__links-wrapper {
    margin: 0 0 0 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-header__logo-container {
    order: -2;
  }

  .page-header__btn-wrapper {
    order: -1;
  }

  .page-header__search-wrapper {
    position: static;
    width: 406px;
  }
}
