.page-main {
  padding: 24px 0 0 0;
}

.page-main__slider-banner {
  margin: 0 15px 40px 15px;
}

.page-main__new-offers {
  margin-bottom: 80px;
}

.page-main__categories {
  margin: 0 16px 80px 16px;
}

.page-main__promo {
  margin-left: 16px;
  margin-bottom: 80px;
}

.page-main__articles {
  margin: 0 16px 80px 16px;
}

.page-main__breadcrumbs {
  margin: 0 16px 24px 16px;
}

@media screen and (min-width: $tablet-width) {
  .page-main {
    padding-top: 80px;
  }

  .page-main__slider-banner {
    margin: 0 40px 40px 40px;
  }

  .page-main__new-offers {
    margin-left: 35px;
  }

  .page-main__categories {
    margin: 0 40px 80px 40px;
  }

  .page-main__promo {
    margin: 0 40px 80px 40px;
  }

  .page-main__articles {
    margin: 0 40px 80px 40px;
  }

  .page-main__viewed {
    margin-left: 35px;
  }

  .page-main__breadcrumbs {
    margin: 0 40px 24px 40px;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-main {
    padding-top: 24px;
  }

  .page-main__slider-banner {
    width: 1320px;
    margin: 0 auto 80px auto;
  }

  .page-main__new-offers {
    width: 1320px;
    margin: 0 auto 90px auto;
  }

  .page-main__categories {
    width: 1320px;
    margin: 0 auto 120px auto;
  }

  .page-main__promo {
    width: 1320px;
    margin: 0 auto 120px auto;
  }

  .page-main__articles {
    width: 1320px;
    margin: 0 auto 80px auto;
  }

  .page-main__viewed {
    width: 1320px;
    margin: 0 auto 120px auto;
  }

  .page-main__breadcrumbs {
    width: 1320px;
    margin: 0 auto 24px auto;
  }

  .page-main__catalog {
    width: 1320px;
    margin: 0 auto 120px auto;
  }
}
