.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
  padding: 0 19px;
  margin: -1px auto 0 auto;
  border: 1px solid #ededed;
}

.product-card--additional {
  width: 280px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.product-card--additional:first-child {
  border-top: 1px solid #d9d9d9;
}

.product-card__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.product-card--additional .product-card__content {
  justify-content: flex-start;
}

.product-card__img-wrapper {
  position: relative;
  width: 140px;
  height: auto;
  padding: 0;
  margin: 0;
  line-height: 0;
  text-align: center;
}

.product-card__description {
  width: 140px;
}

.product-card__name {
  display: block;
  width: 80px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 20px 0 15px 0;
}

.product-card--additional .product-card__name {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 11px;
}

.product-card__table {
  width: 140px;
  font-size: 12px;
  line-height: 14px;
  color: #444444;
  border-collapse: collapse;
}

.product-card--additional .product-card__table {
  width: 280px;
  margin-bottom: 15px;
}

.product-card__table-val {
  width: 50%;
  padding: 0;
  line-height: 16px;
}

.product-card--additional .product-card__table-val {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  border: none;
}

.product-card__table-val--right-align {
  text-align: right;
}

.product-card__link {
  padding: 10px 0;
  margin: 0 auto 24px auto;
  font-size: 16px;
  line-height: 20px;
}

.product-card--additional .product-card__link {
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    justify-content: flex-start;
    width: 324px;
    padding: 0;
    margin: 135px 0 0 0;
    border: none;
    background-color: #f2f2f2;
  }

  .product-card--additional {
    width: 100%;
    border: 1px solid #cdcdcd;
    margin-top: 0;
    background-color: #ffffff;
  }

  .product-card--additional:not(:first-child) {
    margin-top: -1px;
  }


  .product-card__img-wrapper {
    width: 100%;
    margin-top: -45px;
    margin-bottom: 37px;
  }

  .product-card__img-wrapper img {
    width: auto;
    height: auto;
  }

  .product-card--big .product-card__img-wrapper {
    margin-top: -80px;
  }

  .product-card__name {
    width: 130px;
    margin: 0 auto 16px auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product-card--additional .product-card__name {
    width: 50%;
    margin: 0;
    text-align: left;
  }

  .product-card__description {
    width: 100%;
  }

  .product-card__link {
    width: 250px;
    margin: 0 auto 42px auto;
  }

  .product-card--additional .product-card__link {
    width: 100%;
    margin: 0;
  }

  .product-card__table {
    width: 250px;
    margin: 0 auto 32px auto;
    font-size: 16px;
    line-height: 16px;
  }

  .product-card--additional .product-card__table {
    width: 270px;
    margin: 0 0 18px 0;
  }

  .product-card__table-row {
    display: flex;
    padding: 6px 0 6px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card--additional .product-card__table-row {
    padding-top: 8px;
    border-bottom: none;
  }

  .product-card--additional .product-card__content {
    justify-content: space-between;
    padding: 25px 36px 27px 38px;
  }

  .product-card__table-val {
    width: 125px;
    line-height: 20px;
  }

  .product-card--additional .product-card__table-val {
    width: 175px;
    font-size: 16px;
    text-align: right;
  }

  .product-card--additional .product-card__table-val--right-align {
    width: 95px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    margin-top: 142px;
  }

  .product-card--additional {
    width: 100%;
    margin-top: 0;
    border-left: none;
    border-right: none;
  }

  .product-card--additional .product-card__name {
    width: 285px;
    text-align: left;
  }

  .product-card__table {
    width: 170px;
  }

  .product-card--additional .product-card__table {
    width: 286px;
    margin: 0;
  }

  .product-card--additional .product-card__table-row {
    justify-content: space-between;
    padding: 0;
  }

  .product-card__table-val {
    width: 85px;
  }

  .product-card--additional .product-card__table-val {
    width: 143px;
    text-align: left;
  }

  .product-card--additional .product-card__table-val--right-align {
    width: 143px;
    text-align: right;
  }

  .product-card__table-val--pr {
    padding-right: 7px;
  }

  .product-card__link {
    width: 169px;
    margin-bottom: 39px;
  }

  .product-card--additional .product-card__link {
    width: 245px;
  }

  .product-card--additional .product-card__content {
    align-items: center;
    padding: 16px 0 15px 0;
  }
}
