.promo__title {
  @include lb-h2();

  padding: 0;
  margin: 0 0 24px 0;
  color: $lbblack;
}

.promo__slider {
  margin-bottom: 24px;
}

.promo__slider-container {
  width: 100%;
  overflow: hidden;
}

.promo__slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.promo__slider-item {
  flex-shrink: 0;
  padding: 24px 16px;
  border-radius: 10px;
  /*width: 72%;*/
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
}

.promo__slider-item--blue {
  background-color: $lbblue;
  background-image: url('../../img/promo-bg1.svg');

}

.promo__slider-item--orange {
  background-color: $lborange;
  background-image: url('../../img/promo-bg2.svg');
}

.promo__slider-item--yellow {
  background-color: $lbyellow;
  background-image: url('../../img/promo-bg3.svg');
}

.promo__slider-item--green {
  background-color: $lbgreen;
  background-image: url('../../img/promo-bg4.svg');
}

.promo__type {
  @include lb-16med();

  display: inline-block;
  padding: 4px 16px;
  margin: 0 0 95px 0;
  color: $lbblack;
  background-color: $lbwhite;
  border-radius: 5px;
}

.promo__name {
  @include lb-h3();

  margin: 0 0 16px 0;
  padding: 0;
  color: $lbwhite;
}

.promo__description {
  @include lb-16med-wide();

  width: calc(100% - 8px);
  padding: 0;
  margin: 0 0 40px 0;
  color: $lbwhite;
  opacity: 0.8;
}

.promo__detail-link {
  @include lb-16semi();

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  color: $lbwhite;
  border: 1px solid $lbwhite;
  border-radius: 5px;
  text-decoration: none;
}

@media screen and (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .promo__title {
    order: -2;
    margin-bottom: 0;
  }

  .promo__slider {
    margin-bottom: 0;
    margin-top: 24px;
  }

  .promo__slider-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo__slider-item {
    width: 48.3%;
  }

  .promo__slider-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 24px;
  }

  .promo__show-all {
    order: -1;
    line-height: 37px;
  }
}

@media screen and (min-width: $desktop-width) {
  .promo {
    align-items: center;
  }

  .promo__title {
    @include lb-h1();
  }

  .promo__slider {
    width: 100%;
  }

  .promo__slider-item {
    width: 312px;
  }

  .promo__slider-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}
