@media screen and (min-width: $tablet-width) {
  .top-nav {
    background-color: $lblgrey;
  }

  .top-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
  }

  .top-nav__list {
    @include list-reset();

    display: flex;
  }

  .top-nav__list-item {
    margin-right: 24px;
  }

  .top-nav__list-item:last-child {
    margin-right: 0;
  }

  .top-nav__list-item--desktop {
    display: none;
  }

  .top-nav__link {
    @include lb-16med();

    display: block;
    padding: 8px 0 11px 0;
    text-decoration: none;
    color: $lbmgrey;
  }

  .top-nav__link--medium-black {
    color: $lbblack;
  }

  .top-nav__link--semibold {
    @include lb-16semi();

    color: $lbblack;
  }
}

@media screen and (min-width: $desktop-width) {
  .top-nav__list-item--desktop {
    display: block;
  }
}

