@mixin lb-h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

@mixin lb-h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

@mixin lb-h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

@mixin lb-18bold {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

@mixin lb-18semi {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

@mixin lb-18med {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

@mixin lb-16semi {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

@mixin lb-16med {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@mixin lb-16med-wide {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

@mixin lb-14strike {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

@mixin lb-12strike {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
