@mixin lb-h1 {
  font-size: 36px;
  line-height: 45px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-h2 {
  font-size: 30px;
  line-height: 37px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-h3 {
  font-size: 20px;
  line-height: 25px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-18bold {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: bold;
}

@mixin lb-18semi {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-18med {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}

@mixin lb-16semi {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-16med {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}

@mixin lb-16med-wide {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}

@mixin lb-14strike {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}

@mixin lb-12strike {
  font-size: 12px;
  line-height: 15px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}
