@import "variables.scss";
@import "fonts.scss";
@import "visually-hidden.scss";
@import "blocks/swiper.scss";
@import "blocks/page-header.scss";
@import "blocks/search-form.scss";
@import "blocks/main-nav.scss";
@import "blocks/popular-list.scss";
@import "blocks/contact-list.scss";
@import "blocks/basket-icon.scss";
@import "blocks/favorite-icon.scss";
@import "blocks/login-icon.scss";
@import "blocks/icon-links.scss";
@import "blocks/mobile-menu.scss";
@import "blocks/page-main.scss";
@import "blocks/page-footer.scss";
@import "blocks/features.scss";
@import "blocks/footer-nav.scss";
@import "blocks/payment-icons.scss";
@import "blocks/price-block.scss";
@import "blocks/banner.scss";
@import "blocks/new-offers.scss";
@import "blocks/multiple-slider.scss";
@import "blocks/categories.scss";
@import "blocks/promo.scss";
@import "blocks/show-all.scss";
@import "blocks/articles.scss";


*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #444444;

  background-color: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.swiper-container {
  width: 600px;
  height: 300px;
}
