$tablet-width: 768px;
$desktop-width: 1460px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Site colors */
$lbwhite: #FFFFFF;
$lbblack: #0B0B0B;
$lbbgrey: #F7F7F7;
$lbdgrey: #686868;
$lbmgrey: #9B9B9B;
$lbblue: #342EAD;
$lborange: #EA6227;
$lbyellow: #F2A51A;
$lbgreen: #6EAD2E;
$lblgrey: #F4F4F4;

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin lb-h2 {
  font-size: 30px;
  line-height: 38px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-h3 {
  font-size: 20px;
  line-height: 25px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-18bold {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: bold;
}

@mixin lb-18semi {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-16semi {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 600;
}

@mixin lb-16med {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}

@mixin lb-16med-wide {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}

@mixin lb-14strike {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}

@mixin lb-12strike {
  font-size: 12px;
  line-height: 15px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 500;
}
