<div class="catalog-menu-new">
  <div class="catalog-menu-new__left-area">
    <ul class="catalog-section-list-list">
      <li class="catalog-section-list-item" id="bx_4145281613_29" data-index="29">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Доски, мольберты, стенды </a>
        </h3>
      </li>
      <li class="catalog-section-list-item" id="bx_4145281613_25" data-index="25">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Журнально-бланочная
            продукция </a>
        </h3>
      </li>
      <li class="catalog-section-list-item" id="bx_4145281613_33" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Игрушки </a>
        </h3>
      </li>
      <li class="catalog-section-list-item" id="bx_4145281613_45" data-index="45">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Спорттовары </a>
        </h3>
      </li>
    </ul>
  </div>
  <div class="catalog-menu-new__right-area">
    <div>
      <div class="catalog-section-list-item" id="bx_2148846299_30" data-index="29">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Доски </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_28" data-index="25">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Бланки </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_26" data-index="25">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Журналы </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_31" data-index="25">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Грамоты </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_32" data-index="25">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Книги учета </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_34" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Игровые наборы </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_35" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Каталки </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_36" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Конструкторы </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_37" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Кубики </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_38" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Куклы </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_39" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Кукольные театры </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_40" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Песочные наборы </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_41" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Пирамидки </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_42" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Посуда </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_43" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Сортеры </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_44" data-index="33">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Техника </a>
        </h3>
      </div>
      <div class="catalog-section-list-item" id="bx_2148846299_46" data-index="45">
        <h3 class="catalog-section-list-list-title">
          <a class="catalog-section-list-list-link" href="#">Мячи </a>
        </h3>
      </div>
    </div>
  </div>
</div>
