<div class="catalog-menu-new">
    <div class="catalog-menu-new__container">
        <div class="catalog-menu-new__left-area">
            <div class="catalog-menu-new-main-list">
                <div class="catalog-menu-new-main-list__item" id="bx_4145281613_29"
                     data-index="29">
                    <button class="catalog-menu-new-main-list__button" href="#" style="background-image: url('img/ball-menu-icon.png')">Доски, мольберты, стенды </button>
                </div>
                <div class="catalog-menu-new-main-list__item" id="bx_4145281613_25" data-index="25">
                    <button class="catalog-menu-new-main-list__button" href="#" style="background-image: url('img/ball-menu-icon.png')">Журнально-бланочная
                        продукция </button>
                </div>
                <div class="catalog-menu-new-main-list__item" id="bx_4145281613_33" data-index="33">
                    <button class="catalog-menu-new-main-list__button" href="#" style="background-image: url('img/ball-menu-icon.png')">Игрушки </button>
                </div>
                <div class="catalog-menu-new-main-list__item" id="bx_4145281613_45" data-index="45">
                    <button class="catalog-menu-new-main-list__button" href="#" style="background-image: url('img/ball-menu-icon.png')">Спорттовары </button>
                </div>
            </div>

        </div>
        <div class="catalog-menu-new__right-area">
            <div class="catalog-menu-new-submenu">
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_30" data-index="29">
                    <a class="catalog-menu-new-submenu__link" href="#">Доски </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_28" data-index="25">
                    <a class="catalog-menu-new-submenu__link" href="#">Бланки </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_26" data-index="25">
                    <a class="catalog-menu-new-submenu__link" href="#">Журналы </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_31" data-index="25">
                    <a class="catalog-menu-new-submenu__link" href="#">Грамоты </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_32" data-index="25">
                    <a class="catalog-menu-new-submenu__link" href="#">Книги учета </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_34" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Игровые наборы </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_35" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Каталки </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_36" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Конструкторы </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_37" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Кубики </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_38" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Куклы </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_39" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Кукольные театры </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_40" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Песочные наборы </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_41" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Пирамидки </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_42" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Посуда </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_43" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Сортеры </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_44" data-index="33">
                    <a class="catalog-menu-new-submenu__link" href="#">Техника </a>
                </div>
                <div class="catalog-menu-new-submenu__item" id="bx_2148846299_46" data-index="45">
                    <a class="catalog-menu-new-submenu__link" href="#">Мячи </a>
                </div>
            </div>
        </div>
    </div>
</div>
