<div class="categories">
    <h2 class="categories__title">Популярные категории</h2>
    <div class="categories__item">
        <div class="categories__img-wrapper">
            <img src="https://lenbaza.ru/upload/iblock/b8e/kunpq9b9d06d00cgtcwvl3cp1egr2ycl.png" alt="">
        </div>
        <div class="categories__content">
            <h3 class="categories__category-name">Детский сад</h3>
            <ul class="categories__category-list list-reset">
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Игрушки из дерева</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Кукольный театр</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Магнитные пособия</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Мультимедиа</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Принадлежности для кукол</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Настольно-печатные игры</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Подготовка к школе</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Учебно-игровые пособия</a>
                </li>
            </ul>
            <a href="#" class="categories__show-all show-all show-all--small"><span>Смотреть все</span></a>
        </div>
    </div>
    <div class="categories__item">
        <div class="categories__img-wrapper">
            <img src="https://lenbaza.ru/upload/iblock/46a/by20dhrxo4lbxu43n3hettmny9vlonjt.png" alt="">
        </div>
        <div class="categories__content">
            <h3 class="categories__category-name">Технические средства обучения и оборудование</h3>
            <ul class="categories__category-list list-reset">
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Мебель школьная и игровая</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Доски аудиторные</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Доски для объявлений</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Мольберты</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Спортивный инвентарь</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Стенды</a>
                </li>
            </ul>
            <a href="#" class="categories__show-all show-all show-all--small"><span>Смотреть все</span></a>
        </div>
    </div>
    <div class="categories__item">
        <div class="categories__img-wrapper">
            <img src="https://lenbaza.ru/upload/iblock/861/mdr4jdjj2mh93alz442lttgzk6immjp9.png" alt="">
        </div>
        <div class="categories__content">
            <h3 class="categories__category-name">Школа</h3>
            <ul class="categories__category-list list-reset">
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Кабинет начальных классов</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Кабинет биологии, анатомии и естествознания</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Кабинет математики</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Кабинет географии, астрономии и экологии</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Кабинет химии</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Кабинет истории</a>
                </li>
            </ul>
            <a href="#" class="categories__show-all show-all show-all--small"><span>Смотреть все</span></a>
        </div>
    </div>
    <div class="categories__item">
        <div class="categories__img-wrapper">
            <img src="https://lenbaza.ru/upload/iblock/e9d/vsyvs3nxhsm06rvd3ihlom5737pja0jl.png" alt="">
        </div>
        <div class="categories__content">
            <h3 class="categories__category-name">Сопутствующие товары</h3>
            <ul class="categories__category-list list-reset">
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Плакаты и таблицы</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Стенды</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Журналы</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Книги учета</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Бланки</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Грамоты</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Обложки</a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__link">Прочее</a>
                </li>
            </ul>
            <a href="#" class="categories__show-all show-all show-all--small"><span>Смотреть все</span></a>
        </div>
    </div>
</div>
