<div class="news-detail">
    <div class="news-detail__header" style="background-color: #ffffff">
        <div class="news-detail__container">
            <img class="news-detail__img" src="../img/relocation.svg" alt="" height="240px">
            <div class="news-detail__wrapper">
                <h1 class="news-detail__title">Как начать путешествовать уже сейчас?</h1>
                <p class="news-detail__date">20 мая 2020</p>
            </div>
        </div>
    </div>
    <div class="news-detail__container">
        <div class="news-detail__text">Пазлы – отличный способ скоротать время и заставить работать мозг.

            Именно сейчас, в период вынужденного нахождения дома, одними из самых популярных товаров по всему миру стали пазлы и настольные игры. От Европы до Америки в топ-лист товаров повышенного спроса, помимо антисептиков, еды и туалетной бумаги, вошли именно пазлы.

            «Почему?» —спросите вы.

            Ответов несколько:

            - Сборка пазлов - антистресс терапия, когда семьи нуждаются в необходимости отключиться от повседневных забот, а нервы обнажены из-за текущих ограничений и потока волнительных новостей.

            - Пазлы дают возможность сконцентрироваться на задаче, при этом сильно не перегружаясь. Все что от вас потребуется: немного ловкости, фантазии, пространственной визуализации, концентрации и конечно же радости и веселья.

            -  Вам приходится работать из дома? Пазлы служат добрую службу, когда необходимо расслабиться, хочется уделить время себе или занять детей, пока вы проводите очередное онлайн совещание.

            - Сборка пазлов – универсальное занятие как для персональной концентрации, так и для творчества в компании (рекомендуем при этом выбирать головоломки посложнее из большего количества элементов).

            Немецкий производитель пазлов Ravensburger, международный лидер в этой категории, подсказывает: каждая головоломка из 1000 элементов содержит 999 маленьких моментов счастья, а 1 оставшийся финальный пазл — это момент ТОРЖЕСТВА!

            - Путешествия, которые все мы так любим, в настоящее время недоступны, а собирая пейзажные головоломки с видами разных стран, городов и достопримечательностей, вы сможете подпитать свою страсть к поездкам.  Включайте фантазию, воспоминания и не забывайте при этом визуализировать свою мечту.

            - Пазлы - развлечение для всех возрастов. Выбирайте из многообразия тем, сложностей составных элементов, собирайте плоские картины из 2D пазлов или стройте объемные 3D объекты.

            Определите для себя место для ближайшего путешествия, выбирая направления из богатого ассортимента пазлов Ravensburger: например, 2D пазлы с видами юга Франции (арт. 16326), Велосипеды в Амстердаме (арт. 19606), сказочный бело-голубой Санторини (арт. 19611) …

            А почему бы не собрать 3D пластиковую копию Эйфелевой башни (арт. 12556) или Ночной Биг-Бен (арт. 12588), чтобы приблизить ощущение реальности? На выбор более 10-ти достопримечательностей в 3D формате (216 красочных пластиковых элементов складывают каждую объемную фигуру).

            Как и в путешествии, в головоломках на первом месте качество, красота вида и радость познания. Здесь надо выбирать лучшее!

            Воспользуйтесь специальным предложением на все товары марки Ravensburger c тематикой «Путешествия» и закажите красочные головоломки со скидкой 20% до конца мая.

            Ravensburger – лидирующий производитель пазлов и настольных игр из Германии!</div>
    </div>

</div>
