<ul class="profile__profile-list profile-list">
  <li class="profile-list__item">
    <a href="#" class="profile-list__link">
      <span class="profile-list__item-icon"><i class="fa fa-calculator"></i></span>
      <h2 class="profile-list__item-title">Текущие заказы</h2>
    </a>
  </li>
  <li class="profile-list__item">
    <a href="#" class="profile-list__link">
      <span class="profile-list__item-icon"><i class="fa fa-user-secret"></i></span>
      <h2 class="profile-list__item-title">Личные данные</h2>
    </a>
  </li>
  <li class="profile-list__item">
    <a href="#" class="profile-list__link">
      <span class="profile-list__item-icon"><i class="fa fa-list-alt"></i></span>
      <h2 class="profile-list__item-title">История заказов</h2>
    </a>
  </li>
  <li class="profile-list__item">
    <a href="#" class="profile-list__link">
      <span class="profile-list__item-icon"><i class="fa fa-list-ol"></i></span>
      <h2 class="profile-list__item-title">Профили заказов</h2>
    </a>
  </li>
  <li class="profile-list__item">
    <a href="#" class="profile-list__link">
      <span class="profile-list__item-icon"><i class="fa fa-envelope"></i></span>
      <h2 class="profile-list__item-title">Подписки</h2>
    </a>
  </li>
  <li class="profile-list__item">
    <a href="#" class="profile-list__link">
      <span class="profile-list__item-icon"><i class="fa fa-info-circle"></i></span>
      <h2 class="profile-list__item-title">Контакты</h2>
    </a>
  </li>
</ul>
