// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --black: #0b0b0b;
  --super-light-grey: #f7f7f7;
  --dark-grey: #686868;
  --mid-grey: #9b9b9b;
  --blue: #342ead;
  --orange: #ea6227;
  --dark-orange: #DC4F12;
  --yellow: #f2a51a;
  --green: #6ead2e;
  --grey: #f4f4f4;
  --alto: #dfdfdf;
  --red: #c12035;
  --primary-hover: #0050e0;
  --pale: #ebf7ff;
  --blue-button-hover: #1B1595;
}
