// COLORS
:root {
  --color-white: #fff;
  --color-black: #0b0b0b;
  --color-super-light-grey: #f7f7f7;
  --color-dark-grey: #686868;
  --color-mid-grey: #9b9b9b;
  --color-blue: #342ead;
  --color-orange: #ea6227;
  --color-yellow: #f2a51a;
  --color-green: #6ead2e;
  --color-grey: #f4f4f4;
}
